.galerie-a {
    width: 400px;
    height: 300px;
    border: 4px inset grey;
    position: relative;
    overflow: hidden;
    margin-bottom: 5rem;
}

.galerie-a figcaption {
    position: absolute;
    bottom: 0;
    background: rgba(255, 255, 255, 0.7);
    width: 100%;
    text-align: center;
}

.galerie-a figure{
    position: relative;
    width: 400px;
    height: 300px;
}

#galerie-animata figure {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    animation-name: gal_exemplu;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-duration: 21s;
    transform-origin: center center;
}

#galerie-animata figure:nth-of-type(7){
    animation-delay: 0s;
}
#galerie-aniamata figure:nth-of-type(6){
    animation-delay: 3s;
}
#galerie-aniamata figure:nth-of-type(5){
    animation-delay: 6s;
}
#galerie-aniamata figure:nth-of-type(4){
    animation-delay: 9s;
}
#galerie-aniamata figure:nth-of-type(3){
    animation-delay: 12s;
}
#galerie-aniamata figure:nth-of-type(2){
    animation-delay: 15s;
}
#galerie-aniamata figure:nth-of-type(1){
    animation-delay: 18s;
}

@keyframes gal_exemplu{
    0% {
        z-index: 10;
        opacity: 1;
    }
    7.142857%{
        transform: skew(0deg);
    }
    12%{
        opacity: 1;
    }
    14.285714%{
        z-index: 10;
        opacity: 0;
        transform: skew(90deg);
    }
    14.285715%{
        z-index: -10;
        opacity: 0;
        transform: skew(0deg);
    }
    85.714287%{
        z-index: -10;
        opacity: 0;
        transform: skew(0deg);
    }
    85.714288%{
        z-index: 1;
        opacity: 1;
    }
    100%{
        opacity: 1;
        z-index: 1;
    }
}

@media screen and (max-width: 500px){
    #sectiune-galerie-animata {
        display: none;
    }
}