<form id="form_inreg_produse" method="post" class="date"  action="<%= locals.action %>"  enctype="multipart/form-data">
    <div class="form-group">
      <label for="exampleInputEmail1">Nume</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nume instrument">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Descriere</label>
      <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Descriere">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Pret</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Pret instrument">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Gramaj</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Gramaj instrument">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Tip Produs</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Tip Produs">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Garantie</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Garantie">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Categorie</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Categorie">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Culori</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Culori instrument">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Cale Imagine</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Cale imagine">
      </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Voucher</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>