<header class="viewport-header">

    <h1 class="title">
        Create your favorite music right at your home

    </h1>

    <nav>
    
        <label id="hamburger" for="toggle">
            <img src="/resurse/download.png" alt="menu">
        </label>
        <input id="toggle" type="checkbox">

        <ul class="meniu">
            <li><div><a href="/index"><span class="Acasa">Acasa</span><i class="fa fa-home" aria-hidden="true" id="icon-c"></i></a></div>
                <ul>
                    <li><a href="/index"><i class="fa fa-long-arrow-right"></i>Welcome</a></li>
                    <li><a href="/promotii"><i class="fa fa-long-arrow-right"></i>Promotii</a></li>
                    <li><a href="#anunturi" onclick="test(anunturi)"><i class="fa fa-long-arrow-right"></i>Anunturi</a></li>
                    <li><a href="#produse"><i class="fa fa-long-arrow-right"></i>Oferta</a></li>
                    <li><a href="#orar"><i class="fa fa-long-arrow-right"></i>Orar</a></li>
                    <li><a href="#index-intrebari"><i class="fa fa-long-arrow-right"></i>Întrebări</a></li>
                    <li><a href="#retete"><i class="fa fa-long-arrow-right"></i>Rețete</a></li>
                </ul>
            
            
            </li>
            <li><div><a href="/inregistrare">Inregistrare</a></div></li>
            <li><div><a href="/descriere">Despre</a></div>
                <ul>                        
                    <li><a href="/descriere"><i class="fa fa-long-arrow-right"></i>Prezentare</a></li>
                    <li><a href="/istoric"><i class="fa fa-long-arrow-right"></i>Istoric</a></li>
                    <li><a href="/motivatie"><i class="fa fa-long-arrow-right"></i>Motivatie</a></li>
                    <li><a href="/galerie"><i class="fa fa-long-arrow-right"></i>Galerie</a></li>
                </ul>
            </li>
            <li><div><a href="/produse">Produse</a></div>
                <ul>
                    <li><a href="/produse"><i class="fa fa-long-arrow-right"></i>Toate</a></li>
                    <li><a href="/produse?tip=electric"><i class="fa fa-long-arrow-right"></i>Electric</a></li>
                    <li><a href="/produse?tip=acustic"><i class="fa fa-long-arrow-right"></i>Acustic</a></li>
                    <li><a href="/produse?=tip=accessories"><i class="fa fa-long-arrow-right"></i>Accesorii</a></li>
                </ul>
            
            </li>
            <li><a href="/cos-virtual">Cos Virtual</a></li>
            <li><div><a href="#grid-zona-8">Contact</a></div></li>
            <% if(locals?.utilizator?.areDreptul?.(Drepturi.vizualizareUtilizatori)) { %>
                <li><div>Administrare</div>
                <ul>
                    <li><a href="/useri">Useri</a></li>
                    <li><a href="/grafice">Grafice</a></li>
                    <li><a href="/comenzi">Comenzi</a></li>
                </ul>
                </li>
            <% } %>
            <% if(locals.utilizator) { %>
                <li><div><%- locals.utilizator.username %></div>
                    <ul>
                        <li><a href="/profil">Profil</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </li>
            <% } %>

            <button id="tema" style="
            border-bottom-width: 0px;
            padding-bottom: 0px;
            border-radius: 10px;
            margin-left: 10 rem;
            margin-left: 10 rem;
            padding-left: 10 rem;
            float: right;"><i class="fas fa-moon"></i></button>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked">Checked switch checkbox input</label>
              </div>

        </ul>
    </nav>  
</header>

<script>
// function scrollTo(to, duration) {
//     if (document.body.scrollTop == to) return;
//     var diff = to - document.body.scrollTop;
//     var scrollStep = Math.PI / (duration / 10);
//     var count = 0, currPos;
//     start = element.scrollTop;
//     scrollInterval = setInterval(function(){
//         if (document.body.scrollTop != to) {
//             count = count + 1;
//             currPos = start + diff * (0.5 - 0.5 * Math.cos(count * scrollStep));
//             document.body.scrollTop = currPos;
//         }
//         else { clearInterval(scrollInterval); }
//     },10);
// }
// function test(elID)
// {
//     var dest = document.getElementById(elID);
//     scrollTo(dest.offsetTop, 500);
// }


var url = location.href; 
var navLinks = document.getElementsByTagName("nav")[0].getElementsByTagName("a");
console.log(navLinks);
for(let i=0;i<navLinks.length;i++){
  if( navLinks[i].href == url) {
   navLinks[i].className = "current";

  }
  }

</script>